:root {
  /* fonts */
  --font-headers: "oswald", "Oswald", sans-serif;
  --font-body: "roboto", "Roboto", sans-serif;

  /* text sizes */
  --text-size-header: 4rem;

  /* colors */
  --black: rgba(10, 10, 10, 1);
  --dark: rgba(31, 29, 27, 1);
  --green: rgba(74, 111, 52, 1);
  --white: rgba(253, 253, 253, 1);
  --yellow: rgba(247, 247, 0, 1);

  /* others */
  --button-arrow-gap: 0.2em;
  --section-padding: 6em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* copied from web exam */
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0 !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

/* general */
h1,
h2,
h3 {
  font-family: var(--font-headers);
  font-weight: 500;
}

h1,
h2,
h3 {
  letter-spacing: 0.03em;
}

h2,
h3 {
  font-size: var(--text-size-header);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background-color: var(--black);
  color: var(--white);
}

a {
  color: var(--white);
}

p {
  line-height: 150%;
}

strong {
  font-weight: 700;
  color: var(--yellow);
}

/* elements */
.button {
  width: max-content;
  display: flex;
  align-items: center;
  background-color: var(--yellow);
  font-weight: 700;
  gap: var(--button-arrow-gap);
  font-size: 1.125rem;
  padding: 0.8em 0.6em;
  border: none;
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

.button img {
  height: 1.2em;
}

.arrow {
  text-decoration: none;
}

/* footer */
.footer {
  background-color: var(--green);
  display: flex;
  padding: 2em 5em;
  justify-content: space-between;
}

.footer__link {
  font-size: 1.25rem;
}
