/* header */
.header {
  display: flex;
  position: relative;
  overflow: hidden;
}

.header__nav {
  position: absolute;
  top: 2.5em;
  left: 4.5em;
}

.header__nav-list {
  display: flex;
  gap: 2em;
  font-weight: 700;
}

.header__main-img {
  width: 45%;
  height: 100%;
  align-self: end;
}

.header__left-container {
  padding: 3.5em 0 4em 0;
}

.header__title-container {
  display: flex;
  align-items: end;
}

.header__title {
  font-size: 8.125rem;
  white-space: nowrap;
}

.header__ufo-img {
  height: 100%;
  margin-bottom: -3em;
  margin-left: -6em;
}

.header__action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  margin-left: 6em;
  margin-top: 3em;
  gap: 0.8em;
}

.header__action-button {
  font-size: 2rem;
  padding: 0.5em 0.6em;
}

.header__action-small-text {
  font-size: 0.875rem;
}

.header__action-text {
  white-space: nowrap;
}

.header__action-arrows {
  margin-top: -0.4em;
}

/* target audience */
.target-audience {
  background-color: var(--dark);
  padding: var(--section-padding) 0;
}

.target-audience__container {
  display: flex;
  gap: 2.5em;
  margin: 0 auto;
  max-width: 58.5rem;
}

.target-audience__title {
  margin-bottom: 0.65em;
}

.target-audience__p {
  font-weight: 500;
  margin-bottom: 1.5em;
}

.target-audience__p strong {
  color: var(--yellow);
  font-weight: 700;
}

.target-audience__button {
  margin-top: 1.5em;
  font-size: 1.5rem;
}

.target-audience__imgs-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 23.125rem;
}

.target-audience__img {
  position: absolute;
  width: 100%;
  max-width: 23.125rem;
}

.target-audience__img--bg {
  display: block;
  position: static;
}

.target-audience__img--doors {
  animation: doors-moving 8s forwards;
}

@keyframes doors-moving {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

/* newsletter */
.newsletter {
  text-align: center;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--dark);
  max-width: 50rem;
  margin: auto;
  clip-path: path(
    "M77.1014 0H720.899L798 227.622L682.348 638H115.652L0 227.622L77.1014 0Z"
  );
  margin-top: -1px;
}

.newsletter__text-container {
  background-color: var(--black);
  background-image: url(../assets/newsletter-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 35rem;
  margin: auto;
  object-fit: cover;
}

.newsletter__title {
  margin-bottom: 0.6em;
}

.newsletter__desc {
  font-size: 1.25rem;
  margin-bottom: 1.5em;
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  background-image: url(../assets/newsletter-filter-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  width: min-content;
  margin: auto;
  padding: 1.5em;
}

.newsletter__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4em;
}

.newsletter__label {
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.5em;
}

.newsletter__input {
  font-size: 1.125rem;
  border: 0.3em solid var(--green);
  padding: 1em;
  width: 42ch;
}
