:root {
  /* fonts */
  --font-headers: "oswald", "Oswald", sans-serif;
  --font-body: "roboto", "Roboto", sans-serif;

  /* text sizes */
  --text-size-header: 4rem;

  /* colors */
  --black: rgba(10, 10, 10, 1);
  --dark: rgba(31, 29, 27, 1);
  --green: rgba(74, 111, 52, 1);
  --white: rgba(253, 253, 253, 1);
  --yellow: rgba(247, 247, 0, 1);

  /* others */
  --button-arrow-gap: 0.2em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* general */
h1,
h2 {
  font-family: var(--font-headers);
}

h2 {
  font-size: var(--text-size-header);
}

body {
  font-family: var(--font-body);
  background-color: var(--black);
  color: var(--white);
}

a {
  color: var(--white);
}

/* newsletter */
.newsletter {
  text-align: center;
  margin-top: 6em;
  margin-bottom: 6em;
}

.newsletter__title {
  margin-bottom: 0.6em;
}

.newsletter__desc {
  font-size: 1.25rem;
  margin-bottom: 1.5em;
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4em;
}

.newsletter__label {
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.5em;
}

.newsletter__input {
  border: 0.3em solid var(--green);
  padding: 1em;
  width: 32ch;
}

.newsletter__button {
  width: max-content;
  display: flex;
  align-items: center;
  background-color: var(--yellow);
  font-weight: 700;
  gap: var(--button-arrow-gap);
  font-size: 0.875rem;
  padding: 0.8em 0.6em;
  border: none;
}

/* footer */
.footer {
  background-color: var(--green);
  display: flex;
  padding: 2em 5em;
  justify-content: space-between;
}

.footer__link {
  font-size: 1.25rem;
}
