/* header */
.header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  margin-left: auto;
  margin-right: auto;
  width: 84.875rem;
  padding: 3em 0 5em 0;
}

.header__back-link-container {
  margin-bottom: 2.2em;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.header__back-link {
  text-decoration: underline;
  margin-left: var(--button-arrow-gap);
}

.header__title {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 4rem;
}

.header__nav {
  grid-row: 2/3;
  align-self: flex-end;
  justify-self: flex-end;
}

.header__list {
  display: flex;
  gap: 1.813em;
}

.header__nav-link {
  font-weight: 700;
}

/* tips */
.tips {
  overflow: hidden;
  background-color: var(--dark);
  /* padding: 3em 0; */
  position: relative;
}

.tips__img {
  /* max-width: 90%; */
  /* height: 100%; */
  width: 100%;
  transition: all 2s;
  margin: auto;
  display: block;
  /* padding: 0.5em; */
  -webkit-user-drag: none;
}

.tips__modal {
  position: absolute;
  top: 4.5em;
  max-width: 42%;
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 1s;
  background-color: var(--black);
  padding: 3em 3em 4em 3em;
}

.tips__modal--left {
  left: 5%;
}

.tips__modal--right {
  left: 45%;
}

.tips__modal-title {
  margin-bottom: 0.6em;
}

.tips__modal-top-container {
  display: flex;
}

.tips__modal-close,
.tips__challenge-close {
  border: none;
  background: none;
  height: min-content;
  cursor: pointer;
  padding: 1em;
}

.tips__modal-close-img {
  width: 1.5rem;
}

.tips__modal-buttons-container {
  display: flex;
  gap: 1em;
  margin-top: 2.1em;
}

.tips__modal-button {
  font-size: 0.875rem;
}

.tips__modal-button--invite {
  background: none;
  border: 0.3em solid var(--yellow);
  color: var(--yellow);
}

.tips__challenge {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(10, 10, 10, 0.41);
}

.tips__challenge-container {
  background-color: var(--black);
  padding: 3em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  max-width: 35rem;
}

.tips__challenge-top-container {
  display: flex;
}

.tips__challenge-textarea {
  font-family: var(--font-body);
  padding: 1em;
  resize: none;
  margin-top: 1.2em;
}

/* articles */
.articles {
  margin: auto;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  max-width: 61.688rem;
}

.articles__title {
  margin-bottom: 1.3em;
}

.articles__list {
  background-image: url(../assets/atomic-bomb-sign.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.articles__list-element {
  display: flex;
  gap: 2.7em;
  margin-bottom: 5em;
}

.article__list-element--last {
  margin-bottom: 0;
}

.articles__img {
  max-width: 24.375rem;
  height: 100%;
}

.articles__article-title {
  font-family: var(--font-headers);
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 0.8em;
}

.articles__desc {
  line-height: 150%;
  margin-bottom: 1.8em;
}

/* advice and resources */
.advice-resources {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-template-rows: auto auto auto auto auto 2em;
  margin: auto;
  width: min-content;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.advice-resources__img11,
.advice-resources__img13,
.advice-resources__img15 {
  grid-row: 1/7;
}

.advice-resources__img11 {
  grid-column: 1/2;
}

.advice-resources__img13 {
  grid-column: 3/4;
}

.advice-resources__img15 {
  grid-column: 5/6;
}

.advice-resources__jars-img {
  align-self: flex-end;
  justify-self: center;
}

.advice-resources__section {
  max-width: 30rem;
  padding: 2em;
}

.advice-resources__title {
  margin-bottom: 0.45em;
}

.advice-resources__desc {
  line-height: 150%;
  font-weight: 500;
  margin-bottom: 2em;
}

/* survey */
.survey {
  max-width: 40rem;
  margin: auto;
  padding-bottom: var(--section-padding);
  display: flex;
  flex-direction: column;
}

.survey__title {
  margin-bottom: 0.65em;
}

.survey__desc {
  font-size: 1.25rem;
  margin-bottom: 3.4em;
}

.survey__form-element-container {
  margin-bottom: 2.8em;
}

.survey__input {
  appearance: none;
  background-color: var(--black);
  border: 0.22em solid white;
  border-radius: 50%;
  height: 1.375rem;
  width: 1.375rem;
  margin: 0;
  margin-right: 1em;
}

.survey__input:checked {
  background-color: rgba(220, 220, 0, 1);
}

.survey__label {
  font-size: 1.375rem;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.survey__img {
  margin-left: 0.4em;
}

.survey__percentage-container {
  border: 0.188em solid var(--white);
}

.survey__percentage-inner {
  background-color: var(--green);
  padding: 0.9em 0.5em;
  width: 30%;
}

.survey__percentage-number {
  font-size: 1.5rem;
  font-weight: 500;
}

.survey__votes-number {
  font-size: 1.375rem;
  font-weight: 500;
  align-self: end;
}
